@font-face {
    font-family: "Relapse";
    src: url(../assets/fonts/relapse.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgba(223, 223, 223, 1.0);
    background-color: rgba(25, 126, 223, 1.0);
    overflow-x: hidden;
}

.right {
    float: right;
}

.left {
    float: left;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(50, 70, 159, 0.8), rgba(48, 60, 116, 0.8)), url(../images/background.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    clip-path: polygon(100% 0, 100% 91%, 16% 100%, 0 97%, 0 0);
}

.branding {
    width: 100vw;
}

.heading-brand {
    color: rgba(255, 255, 255, 1.0);
    text-transform: lowercase;
    font-family: "Relapse", "Lato", sans-serif;
    font-weight: 400;
    font-size: 38px;

    height: 47.5px;
    line-height: 47.5px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.heading-brand span {
    padding: 0 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1.0);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.slogan {
    position: absolute;
    width: fit-content;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: rgba(255, 255, 255, 1.0);
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-main {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 34px;
    padding: 10px 0px;
    animation: 2s moveInTop ease-out;
}

.heading-sub {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 18px;
    padding: 10px 0px;
    animation: 4s fadeIn ease-out;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }

    80% {
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pageNav {
    position: fixed !important;
    backface-visibility: hidden;
}

.btn {
    display: inline-block;
    letter-spacing: 1px;
    text-align: left;
    
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    height: 47.5px;
    line-height: 47.5px;

    border-radius: 25px;
    overflow: hidden;
    transition: all .6s ease-in-out;
}

.btn a {
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    display: block;
    width: inherit;
    height: 47.5px;
    padding: 0px 20px;
    transition: all .6s ease-in-out;
}

.btn a#toggleNav {
    text-align: center !important;
    padding: 0px;
}

.btn a span.desktop {
    text-align: center !important;
    display: none;
    padding: 0px;
}

.btn-white {
    background-color: rgba(255, 255, 255, 1.0);
}

.btn-white a {
    color: rgba(112, 112, 112, 1.0);
    transition: background-color .6s ease-in-out;
}

.btn-white a:hover {
    background-color: rgba(190, 190, 190, 1.0);
}

.btn-white a#toggleNav:hover {
    color: rgba(112, 112, 112, 1.0);
    background-color: rgba(255, 255, 255, 1.0) !important;
}

.btn-white a i {
    padding-right: 0px;
}

.btn-white a i.btn-icon {
    padding-right: 5px;
    display: inline-block;
    width: 20px;
}

.btn#expand {
    transform: translateY(-2px);
    box-shadow: 0px 7px 14px -2px rgba(0,0,0,0.56);
    animation: expandNavigation .6s ease-out forwards;
}

.btn#compact {
    animation: compactNavigation .6s ease-out forwards;
}

.links {
    position: relative;
}

.submenu {
    position: absolute;
    display: block;
    width: 285px;
    left: 285px;
    top: 47.5px;
}

@keyframes expandNavigation {
    0% {
        width: 70px;
        height: 47.5px;
        line-height: 47.5px;
        letter-spacing: 1px;
    }

    35% {
        width: 285px;
        height: 47.5px;
    }

    100% {
        width: 285px;
        height: 350px;
        letter-spacing: 3px;
    }
}

@keyframes compactNavigation {
    0% {
        width: 285px;
        height: 350px;
        letter-spacing: 3px;
    }

    65% {
        width: 285px;
        height: 47.5px;
    }

    100% {
        width: 70px;
        height: 47.5px;
        line-height: 47.5px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 600px) {
    .btn {
        width: 130px;
    }

    .btn a span.desktop {
        display: inline-block !important;
    }

    .btn-white a i {
        padding-right: 0px;
    }

    @keyframes expandNavigation {
        0% {
            width: 130px;
            height: 47.5px;
            line-height: 47.5px;
            letter-spacing: 1px;
        }
    
        35% {
            width: 285px;
            height: 47.5px;
        }
    
        100% {
            width: 285px;
            height: 350px;
            letter-spacing: 3px;
        }
    }
    
    @keyframes compactNavigation {
        0% {
            width: 285px;
            height: 350px;
            letter-spacing: 3px;
        }
    
        65% {
            width: 285px;
            height: 47.5px;
        }
    
        100% {
            width: 130px;
            height: 47.5px;
            line-height: 47.5px;
            letter-spacing: 1px;
        }
    }
}